:root {
  --herobackground: #1f2937;
  --ctabackground: #3882f6;
  --quotebackground: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav section */

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  background-color: var(--herobackground);
  color: #f9faf8;
}

.header-logo h1 {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  flex-grow: 0.15;
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
}

.header-links a,
.hero h4 {
  font-size: 18px;
  text-decoration: none;
  color: #e5e7eb;
  font-weight: lighter;
}

/* hero section */
.hero {
  background-color: var(--herobackground);
  display: flex;
  justify-content: center;
  padding: 6rem 3.5rem;
  gap: 2rem;
}

.hero-left {
  word-wrap: break-word;
  width: 33%;
}

.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.hero button {
  background-color: var(--ctabackground);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

/* random info section */
.random-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 5rem;
}

.random-info h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.info-images {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.info-images img {
  max-width: 100%;
  border: 3px solid var(--ctabackground);
  border-radius: 15px;
}

.info-images figcaption {
  width: 95%;
  margin: auto;
}

/* quotes section */
.quote {
  background-color: var(--quotebackground);
  padding: 3rem;
}

blockquote {
  margin: 2rem auto;
  width: 50%;
  text-align: center;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.quote p {
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  width: 50%;
  margin: auto;
}
